.banner {
  background: url("./img/pexels-pixabay-265152.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 30%;
  padding-bottom: 20%;
  color: darkorange;
  height: 100vh;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #dc3545;
}

.circle i {
  position: relative;
  top: 30px;
}

.product-img {
  object-fit: cover;
}

.team img {
  width: 300px;
  height: 400px;
  border: 10px solid #cccccc;
}

a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #333;
  line-height: 40px;
}

.client img {
  height: auto;
  max-height: 50px;
}

.contact {
  background: url("./img/contact.avif") no-repeat center;
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
  color: #eee;
}
